.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    row-gap: 5px;

    margin: 0 0 15px 0;
}

.inputLabel {
    font-size: var(--font-size-15);
    width: 100%;
}

.inputHere {
    line-height: 25px;
    border-radius: 5px;
    border: black solid 1px;
    padding: 3px 10px 3px 10px;
}

.helperText {
    margin-left: 5px;
    font-size: var(--font-size-12);
    color: red;
}


.profileImageInput {
    visibility: hidden;
    position: absolute;
}

.circleBox {
    display: flex;
    justify-content: center;
}

.circle {
    width: 150px;
    height: 150px;

    background: rgb(196, 196, 196);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.ltCross {
    margin-left: 32%;
    width: 8%;
    margin-top: 32%;
    height: 8%;

    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

.rtCross {
    margin-right: 32%;
    width: 8%;
    margin-top: 32%;
    height: 8%;

    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

.lbCross {
    margin-left: 32%;
    width: 8%;
    margin-bottom: 32%;
    height: 8%;

    border-right: 2px black solid;
    border-top: 2px black solid;
}

.rbCross {
    margin-right: 32%;
    width: 8%;
    margin-bottom: 32%;
    height: 8%;

    border-left: 2px black solid;
    border-top: 2px black solid;
}