.longButton {
    background-color: var(--magenta);

    color: white;
    border: none;
    border-radius: 5px;

    width: 392px;
    height: 37px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
}

.magenta {
    background-color: var(--magenta);
}