.shortButton {
    background-color: var(--magenta);

    color: white;
    border: none;

    font-weight: var(--font-weight-700);
    font-size: var(--font-size-16);

    width: 138px;
    height: 39px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
