.container {
    width: 392px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.wrapper {
    width: 100%;
    min-height: 915px;
    display: flex;
    justify-content: center;
}